@model List<WillThisWork.Models.Hate>
@{ Layout = "_CabinePartial.cshtml"; }


            <div class="col-sm-12 col-md-12 well" id="content">
                <h1>
                    Welcome @User.Identity.Name
                </h1>
            </div>
  